<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Edit user</title>
    </head>
    <body>
        <form th:method="PATCH" th:action="@{/users/{id}(id = ${user.getId()})}" th:object="${user}">
            <label for="firstName"> Enter first name </label>
            <input type="text" th:field="*{firstName}" id="firstName" required>
            <div style="color: orangered" th:errors="*{firstName}"> Error </div>
            <hr>
            <label for="lastName"> Enter last name </label>
            <input type="text" th:field="*{lastName}" id="lastName" required>
            <div style="color: orangered" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"> Error </div>
            <hr>
            <label for="email"> Enter email </label>
            <input type="text" th:field="*{email}" id="email" required>
            <div style="color: orangered" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> Error </div>
            <hr>
            <input type="submit" value="Update user">
        </form>
        <div>
            <a href="/users"> RETURN_TO_USER_LIST </a>
        </div>
        <div>
            <a href="/"> HOME </a>
        </div>
    </body>
</html>